.container{
    text-align: center;
    height: 500px;
    width: 500px;
    background-color: gainsboro;
    border-radius: 5px;
}

.form-control {
    margin: 15px;
    max-width:450px ;
}
.btn{
  margin-top:30px;
}
